*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* shared styles */
.btn{
    background-color: #469165;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
}


header{
    background-color: #FFFFFF;
}

/* navigation bar starts here */
nav{
    width: 100%;
    max-width: 1600px;
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
}

nav .menu{
    display: flex;
    list-style-type: none;
    gap: 32px;
}

nav .menu a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}

nav .btn{
    padding: 12.5px 16px;
}
/* navigation bar ends here  */