*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* shared styles */
.btn{
    background-color: #469165;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;
}


header{
    background-color: #FFFFFF;
}

/* navigation bar starts here */
nav{
    width: 100%;
    max-width: 1600px;
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
}

nav .menu{
    display: flex;
    list-style-type: none;
    gap: 32px;
}

nav .menu a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}

nav .btn{
    padding: 12.5px 16px;
}
/* navigation bar ends here  */


/* banner starts here  */
#banner{
    border: 1px solid red;
    background: url(../assets/hero-bg.png);
    height: 674px;  
}

 #banner .banner_content{
    border: 1px solid red;
    margin: 115.5px 120px 179.5px 120px;
    width: 85%;
    max-width: 1360px;
    text-align: center;
 }


#banner .early_access_btn{
    background-color: #FFFFFF;
    border: none;
    border-radius: 1000px;
    font-size: 16px;
    font-weight: 500;
    color: #469165;
    padding: 8px 12px ;
    margin-bottom: 16px;
    cursor: pointer;
}

#banner .banner_content h1{
    font-size: 72px;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    line-height: 84px;
    margin-bottom: 16px;
}

#banner .banner_content h1 .second_line{
    color: #30B868;
    display: block;
}

#banner .banner_content p{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 32px;
    text-align: center;
}


#banner .banner_content .two_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}


#banner .banner_content .left_green_btn{
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 16px;
    cursor: pointer;
}


#banner .banner_content .right_transparent_btn{
    padding: 16px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    background: none;
    cursor: pointer;
}
/* banner ends here  */


/* notes_dont_fail section starts here  */
#notes_dont_fail{
    border: 1px solid red;
}

#notes_dont_fail .notes_dont_fail_container{
    height: 448px;
    width: 100%;
}
#notes_dont_fail .notes_dont_fail_container .section_heading{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
    height: 152px;
}

.notes_dont_fail_container .section_heading h1{
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    margin-bottom: 16px;
    padding-top: 36px;
}

.notes_dont_fail_container .section_heading p{
     font-size: 16px;
    font-weight: 400;
    color: #627382;
    line-height: 20px;
}

.notes_dont_fail_container .notes_box_together{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    max-width: 1360px;
    margin: 44px auto 0;
}

.notes_dont_fail_container .notes_box_together img{
    padding: 14px;
    background: #F95555;
    border-radius:100px;  
    margin: 69.5px 131px 16px 131px;
}

.notes_dont_fail_container .notes_box_together .notes_card{
    box-shadow: 0 0 8px 0  #00000014;
    /* border: 1px solid red; */
    text-align: center;
    max-width: 322px;
    height: 300px;
    border-radius: 8px;
}

.notes_dont_fail_container .notes_box_together .notes_card h3{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
}

.notes_dont_fail_container .notes_box_together .notes_card p{
    margin: 16px 24px 69.5px 24px;
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    line-height: 20px;
}
/* notes_dont_fail section ends here   */


/* solution section starts here */

#solution{
    border: 1px solid red;
    max-width: 1600px;
    width: 100%;
    height: 840px;
    background-color: #FFFFFF;
}

#solution .solution_container{
    border: 1px solid red;
    max-width: 1360px;
    width: 85%;
    display: flex;
    gap: 60px;
    margin: 120px;
}

#solution .solution_container .solution_image{
    border: 1px solid red;
}

.solution_container .solution_content{
    margin: 102px 0 102px;
    border: 1px solid red;
}

.solution_container .solution_content .solution_content_upper_part h5{
    font-size: 16px;
    font-weight: 500;
    color: #469165;
    line-height: 20px; 
}

.solution_content .solution_content_upper_part h1{
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    margin-top: 16px;
}

.solution_content .solution_content_upper_part p{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    line-height: 20px; 
    margin-top: 16px;
    margin-bottom: 40px;
}

.solution_content .solution_content_lower_part .solution_content_lower_part_each_line{
    display: flex;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 500;
    color: #001931;
    line-height: 20px;
    gap: 6px; 
}

/* solution section ends here */


/* ready section starts here */
#ready{
    border: 1px solid red;
    width: 100%;
    max-width: 1600px;
    height: 506px;
    background-color: #FFFFFF;
}

#ready .ready_container{
    border: 1px solid red;
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    background-color: #F7F6F2;
    border-radius: 12px;
}

.ready_container .ready_upper_part{
    border: 1px solid red;
    width: 80%;
    max-width: 1280px;
    margin: 80px auto 24px;
    text-align: center;
}

.ready_container .ready_upper_part h1{
    font-size: 40px;
    font-weight: 700;
    color: #001931;
    margin-bottom: 16px;
}

.ready_container .ready_upper_part p{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    line-height: 24px;
}

.ready_container .ready_lower_part{
    border: 1px solid red;
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
}

.ready_container .ready_lower_part .get_btn_parent{
    display: flex;
    justify-content: center;
}

.ready_container .ready_lower_part .get_btn{
    display: flex;
    gap: 10px;
    padding: 16px;
}

.ready_container .ready_lower_part button{
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF; 
    box-shadow: 0 10px 20px 0 #00000026; 
}

.ready_container .ready_lower_part p{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    line-height: 20px;
    margin-top: 16px;
    margin-bottom: 80px;
}

/* ready section ends here */


/* footer starts section here */

.footer_container{
    border: 1px solid red;
    width: 100%;
    max-width: 1600px;
    height: 348px;
    background-color: #001931; 
}

.footer_container .footer_upper_part{
    border: 1px solid red;
    width: 85%;
    max-width: 1360px;
    display: flex;
    margin: 120px auto 80px;
    justify-content: space-between;
}

.footer_container .footer_upper_part .footer_logo_part{
    width: 21.87%;
    max-width: 350px;
    height: 60px;
    border: 1px solid red;
}

.footer_container .footer_upper_part .social_media{
    border: 1px solid red;
    width: 13.75%;
    max-width: 220px;
    height: 64px;
}

.footer_container .footer_upper_part .social_media h5{
    font-size: 20px;
    font-weight: 500;
    color: #FFFFFF; 
    line-height: 28px;
    max-width: 113px;
    height: 28px;
    margin-bottom: 16px;
}

.footer_container .footer_upper_part .social_media .social_icons{
    display: flex;
    gap: 16px;
}

.footer_container .footer_upper_part .social_media .social_icons a{
    background: #FFFFFF;
    border-radius: 100px;
    height: 20px;
    width: 20px; 
    color: #000000;
}

.footer_container hr{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
}


.footer_container .footer_lower_part{
    border: 1px solid red;
    width: 85%;
    max-width: 1360px;
    display: flex;
    margin: 0 auto 30px;
    height: 54px;
}

.footer_container .footer_lower_part .footer_bottom{
    border: 1px solid red;
    width: 85%;
    max-width: 1360px;
    height: 24px;
    margin: 30px auto 0;
    text-align: center;
}

.footer_container .footer_lower_part p{
    font-size: 16px;
    font-weight: 400;
    color: #FAFAFA;
    line-height: 24px; 
}

/* footer ends section here */